<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>backalla.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F40487B1EA36F3E003E1DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F40488F1EA36F3E003E1DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F40489A1EA36F3F003E1DF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
